@import "../_variables";
@import "../_mixins";

.excel__toolbar{
  position: absolute;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;

  .button {
    @include button(green)
  }

  .button.disable {
    cursor: not-allowed;
  }

  .button__group {
    border-right: 1px solid #c0c0c0;
    &:last-child {
      border: none;
    }
  }

  .button__size {
    width: 50px;
  }

  .button__font {
    width: 100px;
  }
}
